
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>sherpa.</title>
    <meta name="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../assets/stylesheets/sherpa.css" type="text/css">
    <link rel="stylesheet" href="../../assets/stylesheets/underoos.css" type="text/css">
  </head>

  <body>
    <aside class="sherpa-sidebar">
      <nav>
        <a class="sherpa-brand" href="/">sherpa.</a>
          <ul class="sherpa-dox-nav sherpa-nav-list">
            <li class="sherpa-nav-header">Documentation</li>
            <li><a href='/styles.html'>Styles</a></li><li><a href='/behaviors.html'>Behaviors</a></li><li><a href='/ruby.html'>Ruby</a></li>
          </ul>

        <ul class="sherpa-anchor-nav sherpa-nav-list">
          <li class='sherpa-nav-header'>Coffee</li><li><a href='#coffee-coffee'>DimensionViewer</a></li><li class='sherpa-subnav'><a href='#coffee-coffee-initialize'>initialize</a></li><li class='sherpa-subnav'><a href='#coffee-coffee-dispose'>dispose</a></li><li class='sherpa-nav-header'>Js</li><li><a href='#js-test'>JavaScript Functions</a></li><li class='sherpa-subnav'><a href='#js-test-bathe'>bathe</a></li>
        </ul>
      </nav>
    </aside>

    <section class="sherpa-container sherpa-clearfix">
      
<section class="sherpa-section sherpa-clearfix" id="coffee-coffee">

    <div class="sherpa-filepath sherpa-clearfix">
      <a href="https://github.com/modeset/sherpa/blob/master/test/fixtures/coffee/coffee.coffee" target="_blank">coffee/coffee.coffee</a>
    </div>

      <div class="sherpa-summary sherpa-clearfix" id="coffee-coffee">
        <h2>DimensionViewer</h2>
<br /><p>Debugging tool for printing the <code>innerWidth</code> of the browser.</p>

      </div>




      <div class="sherpa-description sherpa-clearfix">
        <h4>Examples:</h4>
<br /><pre><code>@dimension_viewer = new DimensionViewer
</code></pre>

      </div>

      <div class="sherpa-description sherpa-notes sherpa-clearfix">
        <h4>Notes:</h4>
<br /><ul>
<li><strong>Note!</strong> Useful when creating styles associated with media queries.</li>
</ul>

      </div>
      <div class="sherpa-summary sherpa-clearfix" id="coffee-coffee-initialize">
        <h3><code>#initialize</code></h3>
<br /><p>Get this party started by instantiateing a bunch of stuff</p>
<br /><pre><code>@dimension_viewer.initialize
</code></pre>

      </div>





      <div class="sherpa-summary sherpa-clearfix" id="coffee-coffee-dispose">
        <h3><code>#dispose</code></h3>
<br /><p>End this party</p>
<br /><pre><code>@dimension_viewer.dispose
</code></pre>

      </div>






</section>


<section class="sherpa-section sherpa-clearfix" id="js-test">

    <div class="sherpa-filepath sherpa-clearfix">
      <a href="https://github.com/modeset/sherpa/blob/master/test/fixtures/js/test.js" target="_blank">js/test.js</a>
    </div>

      <div class="sherpa-summary sherpa-clearfix" id="js-test">
        <h2>JavaScript Functions</h2>
<br /><p>Change the box model for Mozilla, Webkit, IE8 and the future</p>

      </div>

      <div class="sherpa-description sherpa-clearfix">
        <h4>Arguments:</h4>
<br /><ul>
<li><code>$type</code>  - content-box | border-box |inherit</li>
</ul>

      </div>



      <div class="sherpa-description sherpa-clearfix">
        <h4>Examples:</h4>
<br /><pre><code>.base-column
  +box-sizing(border-box)
</code></pre>

      </div>

      <div class="sherpa-description sherpa-notes sherpa-clearfix">
        <h4>Notes:</h4>
<br /><ul>
<li><strong>Heads Up!</strong> This is important!</li>
</ul>

      </div>
      <div class="sherpa-summary sherpa-clearfix" id="js-test-bathe">
        <h3><code>#bathe</code></h3>
<br /><p>Wash the dog</p>
<br /><pre><code>dog.bathe()
</code></pre>

      </div>






</section>


    </section>

      <footer class="sherpa-footer sherpa-container sherpa-clearfix">
        <p>Published: 05/04/2012 04:56pm MDT by Matthew Kitt</p>
      </footer>
  </body>
</html>

