
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>sherpa.</title>
    <meta name="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../assets/stylesheets/sherpa.css" type="text/css">
    <link rel="stylesheet" href="../../assets/stylesheets/underoos.css" type="text/css">
  </head>

  <body>
    <aside class="sherpa-sidebar">
      <nav>
        <a class="sherpa-brand" href="/">sherpa.</a>
          <ul class="sherpa-dox-nav sherpa-nav-list">
            <li class="sherpa-nav-header">Documentation</li>
            <li><a href='/styles.html'>Styles</a></li><li><a href='/behaviors.html'>Behaviors</a></li>
          </ul>

        <ul class="sherpa-anchor-nav sherpa-nav-list">
          <li class='sherpa-nav-header'>Coffee</li><li><a href='#coffee-coffee'>Coffee</a></li><li class='sherpa-nav-header'>Js</li><li><a href='#js-test'>Test</a></li>
        </ul>
      </nav>
    </aside>

    <section class="sherpa-container sherpa-clearfix">
      
  <section class="sherpa-section sherpa-clearfix" id="coffee-coffee">

      <div class="sherpa-filepath sherpa-clearfix">
        <p>coffee/coffee.coffee</p>
      </div>

      <div class="sherpa-summary sherpa-clearfix">
        <h2>DimensionViewer</h2>
<br /><p>Debugging tool for printing the <code>innerWidth</code> of the browser.</p>

      </div>




      <div class="sherpa-description sherpa-clearfix">
        <h3>Examples:</h3>
<br /><pre><code>@dimension_viewer = new DimensionViewer
</code></pre>

      </div>

      <div class="sherpa-description sherpa-notes sherpa-clearfix">
        <h3>Notes:</h3>
<br /><ul>
<li><strong>Note!</strong> Useful when creating styles associated with media queries.</li>
</ul>

      </div>

  </section>



  <section class="sherpa-section sherpa-clearfix" id="coffee-coffee_1">


      <div class="sherpa-summary sherpa-clearfix">
        <h2>initialize</h2>
<br /><p>Lets see if this works</p>

      </div>




      <div class="sherpa-description sherpa-clearfix">
        <h3>Examples:</h3>
<br /><pre><code>@dimension_viewer.initialize
</code></pre>

      </div>


  </section>



  <section class="sherpa-section sherpa-clearfix" id="js-test">

      <div class="sherpa-filepath sherpa-clearfix">
        <p>js/test.js</p>
      </div>

      <div class="sherpa-summary sherpa-clearfix">
        <h2>JavaScript Functions</h2>
<br /><p>Change the box model for Mozilla, Webkit, IE8 and the future</p>

      </div>

      <div class="sherpa-description sherpa-clearfix">
        <h3>Arguments:</h3>
<br /><ul>
<li><code>$type</code>  - content-box | border-box |inherit</li>
</ul>

      </div>



      <div class="sherpa-description sherpa-clearfix">
        <h3>Examples:</h3>
<br /><pre><code>.base-column
  +box-sizing(border-box)
</code></pre>

      </div>

      <div class="sherpa-description sherpa-notes sherpa-clearfix">
        <h3>Notes:</h3>
<br /><ul>
<li><strong>Heads Up!</strong> This is important!</li>
</ul>

      </div>

  </section>



    </section>

      <footer class="sherpa-footer sherpa-container sherpa-clearfix">
        <p>Published: 04/29/2012 11:16pm MDT by Matthew Kitt</p>
      </footer>
  </body>
</html>

