
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>sherpa.</title>
    <meta name="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../assets/stylesheets/sherpa.css" type="text/css">
    <link rel="stylesheet" href="../../assets/stylesheets/underoos.css" type="text/css">
  </head>

  <body>
    <aside class="sherpa-sidebar">
      <nav>
        <a class="sherpa-brand" href="/">sherpa.</a>
          <ul class="sherpa-dox-nav sherpa-nav-list">
            <li class="sherpa-nav-header">Documentation</li>
            <li><a href='/styles.html'>Styles</a></li><li><a href='/behaviors.html'>Behaviors</a></li><li><a href='/ruby.html'>Ruby</a></li>
          </ul>

        <ul class="sherpa-anchor-nav sherpa-nav-list">
          <li class='sherpa-nav-header'>Sherpa</li><li><a href='#sherpa-utils'>Utils</a></li>
        </ul>
      </nav>
    </aside>

    <section class="sherpa-container sherpa-clearfix">
      
<section class="sherpa-section sherpa-clearfix" id="sherpa-utils">

    <div class="sherpa-filepath sherpa-clearfix">
      <a href="https://github.com/modeset/sherpa/blob/master/lib/sherpa/utils.rb" target="_blank">sherpa/utils.rb</a>
    </div>

    <div class="sherpa-description sherpa-clearfix">
      <h2>Utils</h2>
<br /><p>Static class of utility methods for the parser and layout classes</p>
<br /><table><thead>
<tr>
<th>Method</th>
<th>Params</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td><code>sherpa_block?</code></td>
<td><code>line</code></td>
<td>Determines if a comment block has a sherpa marker <code>#~</code></td>
</tr>
<tr>
<td><code>line_comment?</code></td>
<td><code>line</code></td>
<td>Determines if a line is a continuation of a sherpa block</td>
</tr>
<tr>
<td><code>pre_line?</code></td>
<td><code>line</code></td>
<td>Determines if a line is a <code>pre</code> block</td>
</tr>
<tr>
<td><code>sherpa_section?</code></td>
<td><code>line</code></td>
<td>Tests to see if the line ends in <code>:</code></td>
</tr>
<tr>
<td><code>markdown_header?</code></td>
<td><code>line</code></td>
<td>Tests to see if the line ends starts with a markdown header</td>
</tr>
<tr>
<td><code>is_markdown_file?</code></td>
<td><code>line</code></td>
<td>Tests to see if the file is markdown</td>
</tr>
<tr>
<td><code>trim_comment_markers</code></td>
<td><code>line</code></td>
<td>Remove comment markers, sherpa identifier, and EOL whitespace</td>
</tr>
<tr>
<td><code>trim_left</code></td>
<td><code>line</code>, <code>content</code></td>
<td>Clean the left side of the comment block if the line ends with a line break</td>
</tr>
<tr>
<td><code>trim_for_title</code></td>
<td><code>line</code></td>
<td>Trim out markdown headers for a plain text title</td>
</tr>
<tr>
<td><code>trim_colon</code></td>
<td><code>line</code></td>
<td>Trim out the trailing colon <code>:</code></td>
</tr>
<tr>
<td><code>trim_sherpa_section_for_key</code></td>
<td><code>line</code></td>
<td>Turn a sherpa section into a readable key</td>
</tr>
<tr>
<td><code>uid</code></td>
<td><code>file</code></td>
<td>Generate a unique ID for use in keys and anchor tags from a filepath</td>
</tr>
<tr>
<td><code>add_markdown_header</code></td>
<td><code>line</code></td>
<td>Turns a sherpa section into a markdown <code>h4</code> unless the line is already a markdown header</td>
</tr>
<tr>
<td><code>pretty_path</code></td>
<td><code>base_path</code>, <code>filename</code></td>
<td>Return the current filename and it&#39;s parent directory</td>
</tr>
</tbody></table>

    </div>


</section>


    </section>

    <footer class="sherpa-footer sherpa-container sherpa-clearfix">
      <p>&raquo; <a href="https://github.com/modeset/sherpa/">Github Repository</a></p>
    </footer>
  </body>
</html>

