
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>sherpa.</title>
    <meta name="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../assets/stylesheets/sherpa.css" type="text/css">
    <link rel="stylesheet" href="../../assets/stylesheets/underoos.css" type="text/css">
  </head>

  <body>
    <aside class="sherpa-sidebar">
      <nav>
        <a class="sherpa-brand" href="/">sherpa.</a>
          <ul class="sherpa-dox-nav sherpa-nav-list">
            <li class="sherpa-nav-header">Documentation</li>
            <li><a href='/styles.html'>Styles</a></li><li><a href='/behaviors.html'>Behaviors</a></li>
          </ul>

        <ul class="sherpa-anchor-nav sherpa-nav-list">
          <li class='sherpa-nav-header'>Base</li><li><a href='#base-visibility'>Visibility</a></li><li class='sherpa-nav-header'>Components</li><li><a href='#components-breadcrumbs'>Breadcrumbs</a></li><li class='sherpa-nav-header'>Mixins</li><li><a href='#mixins-box-sizing'>Box-sizing</a></li><li><a href='#mixins-font-size'>Font-size</a></li>
        </ul>
      </nav>
    </aside>

    <section class="sherpa-container sherpa-clearfix">
      
  <section class="sherpa-section sherpa-clearfix" id="base-visibility">

      <div class="sherpa-filepath sherpa-clearfix">
        <p>base/visibility.sass</p>
      </div>

      <div class="sherpa-summary sherpa-clearfix">
        <h2>Visibility mixins</h2>
<br /><table><thead>
<tr>
<th>Mixin</th>
<th>Params</th>
<th>Usage</th>
</tr>
</thead><tbody>
<tr>
<td><code>+hidden</code></td>
<td>none</td>
<td>Totally hidden from screen readers and browsers</td>
</tr>
<tr>
<td><code>+shown</code></td>
<td>none</td>
<td>Reverse the effects of hidden</td>
</tr>
<tr>
<td><code>+visuallyhidden</code></td>
<td>none</td>
<td>Only visually hidden, still available to screen readers</td>
</tr>
<tr>
<td><code>+visuallyshown</code></td>
<td>none</td>
<td>Reverse the settings applied by <code>.visuallyhidden</code></td>
</tr>
<tr>
<td><code>+invisible</code></td>
<td>none</td>
<td>Hide visually and from screenreaders, but maintain layout</td>
</tr>
</tbody></table>

      </div>






  </section>



  <section class="sherpa-section sherpa-clearfix" id="components-breadcrumbs">

      <div class="sherpa-filepath sherpa-clearfix">
        <p>components/breadcrumbs.sass</p>
      </div>

      <div class="sherpa-summary sherpa-clearfix">
        <h2>Breadcrumbs</h2>
<br /><p>Apply the <code>.breadcrumb</code> class to the <code>ol</code> or <code>ul</code> element to provide
linkable references to nested sections within the application.</p>

      </div>


      <div class="sherpa-showcase sherpa-clearfix">
        <nav>
  <ol class="nav breadcrumb">
    <li><a href="#">Level 1</a></li>
    <li><a href="#">Level 2</a></li>
    <li><a href="#">Level 3</a></li>
    <li class="active"><a href="#">Active</a></li>
  </ol>
</nav>
      </div>

      <div class="sherpa-description sherpa-clearfix">
        <h3>Usage:</h3>
<br /><pre><code>&lt;nav&gt;
  &lt;ol class=&quot;nav breadcrumb&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Level 1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Level 2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Level 3&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;Active&lt;/a&gt;&lt;/li&gt;
  &lt;/ol&gt;
&lt;/nav&gt;
</code></pre>

      </div>



  </section>



  <section class="sherpa-section sherpa-clearfix" id="mixins-box-sizing">

      <div class="sherpa-filepath sherpa-clearfix">
        <p>mixins/box-sizing.sass</p>
      </div>

      <div class="sherpa-summary sherpa-clearfix">
        <h2>box-sizing</h2>
<br /><p>Change the box model for Mozilla, Webkit, IE8 and the future</p>

      </div>

      <div class="sherpa-description sherpa-clearfix">
        <h3>Arguments:</h3>
<br /><ul>
<li><code>$type</code>  - content-box | border-box |inherit</li>
</ul>

      </div>



      <div class="sherpa-description sherpa-clearfix">
        <h3>Examples:</h3>
<br /><pre><code>.base-column
  +box-sizing(border-box)
</code></pre>

      </div>

      <div class="sherpa-description sherpa-notes sherpa-clearfix">
        <h3>Notes:</h3>
<br /><ul>
<li><strong>Heads Up!</strong> This is important!</li>
</ul>

      </div>

  </section>



  <section class="sherpa-section sherpa-clearfix" id="mixins-font-size">

      <div class="sherpa-filepath sherpa-clearfix">
        <p>mixins/font-size.sass</p>
      </div>

      <div class="sherpa-summary sherpa-clearfix">
        <h2>Mixin: font-size</h2>
<br /><p>Use <code>rems</code> to insert a font size</p>

      </div>

      <div class="sherpa-description sherpa-clearfix">
        <h3>Arguments:</h3>
<br /><ul>
<li><code>$target_px</code>     - The target</li>
<li><code>$context_px</code>    - The context</li>
</ul>

      </div>

      <div class="sherpa-showcase sherpa-clearfix">
        <h1>Heading</h1>
<h2>Heading</h2>
      </div>

      <div class="sherpa-description sherpa-clearfix">
        <h3>Usage:</h3>
<br /><pre><code>&lt;h1&gt;Heading&lt;/h1&gt;
&lt;h2&gt;Heading&lt;/h2&gt;
</code></pre>

      </div>

      <div class="sherpa-description sherpa-clearfix">
        <h3>Examples:</h3>
<br /><pre><code>h1
  +font-size(48)
</code></pre>

      </div>


  </section>



  <section class="sherpa-section sherpa-clearfix" id="mixins-font-size_1">


      <div class="sherpa-summary sherpa-clearfix">
        <p>Another simple summary in same file</p>

      </div>


      <div class="sherpa-showcase sherpa-clearfix">
        <h3>Heading</h3>
<h4>Heading</h4>
      </div>

      <div class="sherpa-description sherpa-clearfix">
        <h3>Usage:</h3>
<br /><pre><code>&lt;h3&gt;Heading&lt;/h3&gt;
&lt;h4&gt;Heading&lt;/h4&gt;
</code></pre>

      </div>



  </section>



    </section>

      <footer class="sherpa-footer sherpa-container sherpa-clearfix">
        <p>Published: 04/29/2012 03:16pm MDT by Matthew Kitt</p>
      </footer>
  </body>
</html>

