
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>sherpa.</title>
    <meta name="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../assets/stylesheets/sherpa.css" type="text/css">
    <link rel="stylesheet" href="../../assets/stylesheets/underoos.css" type="text/css">
  </head>

  <body>
    <aside class="sherpa-sidebar">
      <nav>
        <a class="sherpa-brand" href="/">sherpa.</a>
          <ul class="sherpa-dox-nav sherpa-nav-list">
            <li class="sherpa-nav-header">Documentation</li>
            <li><a href='/overview.html'>Overview</a></li><li><a href='/test.html'>Test</a></li>
          </ul>

        <ul class="sherpa-anchor-nav sherpa-nav-list">
          <li class='sherpa-nav-header'>Sass</li><li><a href='#sass-components-wells'>Wells</a></li><li class='sherpa-subnav'><a href='#sass-components-wells-well.dark'>well.dark</a></li><li class='sherpa-nav-header'>Coffee</li><li><a href='#coffee-coffee'>DimensionViewer</a></li><li class='sherpa-subnav'><a href='#coffee-coffee-initialize'>initialize</a></li><li class='sherpa-subnav'><a href='#coffee-coffee-dispose'>dispose</a></li>
        </ul>
      </nav>
    </aside>

    <section class="sherpa-container sherpa-clearfix">
      
<section class="sherpa-section sherpa-clearfix" id="sass-components-wells">

    <div class="sherpa-filepath sherpa-clearfix">
      <a href="https://github.com/modeset/sherpa/blob/master/test/fixtures/sass/components/wells.sass" target="_blank">sass/components/wells.sass</a>
    </div>

      <div class="sherpa-summary sherpa-clearfix" id="sass-components-wells">
        <h2>Wells</h2>
<br /><p>Wells are simple containers for popping elements off the page.
They come in a few different flavors.</p>

      </div>


      <div class="sherpa-showcase sherpa-clearfix">
        <div class="well">well</div>
<div class="well primary">well</div>
      </div>

      <div class="sherpa-description sherpa-clearfix">
        <h4>Usage:</h4>
<br /><pre><code>&lt;div class=&quot;well&quot;&gt;well&lt;/div&gt;
&lt;div class=&quot;well primary&quot;&gt;well&lt;/div&gt;
</code></pre>

      </div>




      <div class="sherpa-summary sherpa-clearfix" id="sass-components-wells-well.dark">
        <h3><code>well.dark</code></h3>
<br /><p>They also come in a <code>dark</code> version</p>

      </div>


      <div class="sherpa-showcase sherpa-clearfix">
        <div class="well dark">well</div>
      </div>

      <div class="sherpa-description sherpa-clearfix">
        <h4>Usage:</h4>
<br /><pre><code>&lt;div class=&quot;well dark&quot;&gt;well&lt;/div&gt;
</code></pre>

      </div>





</section>


<section class="sherpa-section sherpa-clearfix" id="coffee-coffee">

    <div class="sherpa-filepath sherpa-clearfix">
      <a href="https://github.com/modeset/sherpa/blob/master/test/fixtures/coffee/coffee.coffee" target="_blank">coffee/coffee.coffee</a>
    </div>

      <div class="sherpa-summary sherpa-clearfix" id="coffee-coffee">
        <h2>DimensionViewer</h2>
<br /><p>Debugging tool for printing the <code>innerWidth</code> of the browser.</p>

      </div>




      <div class="sherpa-description sherpa-clearfix">
        <h4>Examples:</h4>
<br /><pre><code>@dimension_viewer = new DimensionViewer
</code></pre>

      </div>

      <div class="sherpa-description sherpa-notes sherpa-clearfix">
        <h4>Notes:</h4>
<br /><ul>
<li><strong>Note!</strong> Useful when creating styles associated with media queries.</li>
</ul>

      </div>

      <div class="sherpa-description sherpa-notes sherpa-warnings sherpa-clearfix">
        <h4>Warnings:</h4>
<br /><ul>
<li><strong>Warning!</strong> Useful when creating styles associated with media queries.</li>
</ul>

      </div>

      <div class="sherpa-description sherpa-notes sherpa-alerts sherpa-clearfix">
        <h4>Alerts:</h4>
<br /><ul>
<li><strong>Alert!</strong> Useful when creating styles associated with media queries.</li>
</ul>

      </div>
      <div class="sherpa-summary sherpa-clearfix" id="coffee-coffee-initialize">
        <h3><code>#initialize</code></h3>
<br /><p>Get this party started by instantiateing a bunch of stuff</p>
<br /><pre><code>@dimension_viewer.initialize
</code></pre>

      </div>







      <div class="sherpa-summary sherpa-clearfix" id="coffee-coffee-dispose">
        <h3><code>#dispose</code></h3>
<br /><p>End this party</p>
<br /><pre><code>@dimension_viewer.dispose
</code></pre>

      </div>








</section>


    </section>

    <footer class="sherpa-footer sherpa-container sherpa-clearfix">
      <p>&raquo; <a href="https://github.com/modeset/sherpa/">Github Repository</a></p>
    </footer>
  </body>
</html>

