
<section class="sherpa-section sherpa-clearfix" id="{{{id}}}">

  {{#filepath}}
    <div class="sherpa-filepath sherpa-imagepath sherpa-clearfix">
      <a href="{{{repo_url}}}" target="_blank">{{{filepath}}}</a>
    </div>
  {{/filepath}}

  {{#file.markup}}
    <div class="sherpa-imageview sherpa-clearfix">
      {{{file.markup}}}
    </div>
  {{/file.markup}}

</section>

