
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>sherpa.</title>
    <link rel="stylesheet" href="app/assets/stylesheets/sherpa.css" type="text/css">
    <link rel="stylesheet" href="app/assets/stylesheets/underoos.css" type="text/css">
  </head>

  <body>
    <div class="sherpa-container sherpa-clearfix">
      {{{layout}}}
    </div>
  </body>
</html>

