
<section class="sherpa-section sherpa-clearfix" id="{{{id}}}">

  {{#file.markup}}
    <div class="sherpa-overview sherpa-clearfix">
      {{{file.markup}}}
    </div>
  {{/file.markup}}

  {{#file.blocks}}
    {{#usage_showcase}}
      <div class="sherpa-showcase sherpa-clearfix">
        {{{usage_showcase}}}
      </div>
    {{/usage_showcase}}
  {{/file.blocks}}

</section>

