
<section class="sherpa-section sherpa-clearfix" id="{{{id}}}">

  {{#filepath}}
    <div class="sherpa-filepath sherpa-clearfix">
      <p>{{{filepath}}}</p>
    </div>
  {{/filepath}}

  {{#markup}}
    <div class="sherpa-description sherpa-clearfix">
      {{{markup}}}
    </div>
  {{/markup}}

  {{#sherpas}}
    {{#usage_showcase}}
      <div class="sherpa-showcase sherpa-clearfix">
        {{{usage_showcase}}}
      </div>
    {{/usage_showcase}}
  {{/sherpas}}

</section>

