
{{#blocks}}
  <div class="sherpa-section sherpa-clearfix">

    {{#markup}}
      <div class="sherpa-description sherpa-clearfix">
        {{{markup}}}
      </div>
    {{/markup}}

    {{#usage_showcase}}
      <div class="sherpa-example sherpa-clearfix">
        {{{usage_showcase}}}
      </div>
    {{/usage_showcase}}

  </div>

{{/blocks}}

