
{{#blocks}}
  <div class="sherpa-section sherpa-clearfix">
    {{#filepath}}
      <div class="sherpa-filepath sherpa-clearfix">
        {{{filepath}}}
      </div>
    {{/filepath}}

    {{#summary}}
      <div class="sherpa-summary sherpa-clearfix">
        {{{summary}}}
      </div>
    {{/summary}}

    {{#arguments}}
      <div class="sherpa-description sherpa-clearfix">
        {{{arguments}}}
      </div>
    {{/arguments}}

    {{#usage_showcase}}
      <div class="sherpa-showcase sherpa-clearfix">
        {{{usage_showcase}}}
      </div>
    {{/usage_showcase}}

    {{#usage}}
      <div class="sherpa-description sherpa-clearfix">
        {{{usage}}}
      </div>
    {{/usage}}

    {{#examples}}
      <div class="sherpa-description sherpa-clearfix">
        {{{examples}}}
      </div>
    {{/examples}}

    {{#notes}}
      <div class="sherpa-description sherpa-notes sherpa-clearfix">
        {{{notes}}}
      </div>
    {{/notes}}

  </div>

{{/blocks}}

