
{{#blocks}}
  <div class="sherpa-section sherpa-clearfix">

    {{#examples}}
      <div class="sherpa-example sherpa-clearfix">
        {{{examples}}}
      </div>
    {{/examples}}

    {{#markup}}
      <div class="sherpa-description sherpa-clearfix">
        {{{markup}}}
      </div>
    {{/markup}}
  </div>

{{/blocks}}

