
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>sherpa.</title>
    <meta name="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../lib/assets/sherpa-reset.css" type="text/css">
    <link rel="stylesheet" href="../../lib/assets/sherpa.css" type="text/css">
  </head>

  <body>
    <aside class="sherpa-sidebar">
      <nav>
        <a class="sherpa-brand" href="/">sherpa.</a>
          <ul class="sherpa-dox-nav sherpa-nav-list">
            <li class="sherpa-nav-header">Documentation</li>
            <li><a href='/overview.html'>Overview</a></li><li><a href='/test.html'>Test</a></li><li><a href='/globs.html'>Globs</a></li>
          </ul>

        <ul class="sherpa-anchor-nav sherpa-nav-list">
          <li class='sherpa-nav-header'></li><li><a href='#base-headings'>Headings</a></li><li class='sherpa-subnav'><a href='#base-headings-h3.alt'>h3.alt</a></li><li><a href='#mixins-font-size'>Font-size</a></li><li><a href='#visibility'>Visibility mixins</a></li>
        </ul>
      </nav>
    </aside>

    <section class="sherpa-container sherpa-clearfix">
      
<section class="sherpa-section sherpa-clearfix" id="base-headings">

    <div class="sherpa-filepath sherpa-clearfix">
      <a href="https://github.com/modeset/sherpa/blob/master/test/fixtures/sass//base/headings.sass" target="_blank">/base/headings.sass</a>
    </div>

      <div class="sherpa-summary sherpa-clearfix" id="base-headings">
        <h2>Headings</h2>
<br /><p>Default heading elements. Showcases how to document a normal style.</p>

      </div>



      <div class="sherpa-showcase sherpa-clearfix">
        <h1>Google hearts h1 headings, but only use one per page.</h1>
<h2>Got sections? Try using h2 headings.</h2>
<h3>Good things come in threes, like tacos and h3 headings.</h3>
      </div>

      <div class="sherpa-description sherpa-clearfix">
        <h4>Usage:</h4>
<br /><pre><code>&lt;h1&gt;Google hearts h1 headings, but only use one per page.&lt;/h1&gt;
&lt;h2&gt;Got sections? Try using h2 headings.&lt;/h2&gt;
&lt;h3&gt;Good things come in threes, like tacos and h3 headings.&lt;/h3&gt;
</code></pre>

      </div>




      <div class="sherpa-summary sherpa-clearfix" id="base-headings-h3.alt">
        <h3><code>h3.alt</code></h3>
<br /><p>Second sherpa block within the <code>headings.sass</code> file describing an alternate heading.</p>

      </div>





      <div class="sherpa-description sherpa-clearfix">
        <h4>Examples:</h4>
<br /><pre><code>&lt;h3 class=&quot;alt&quot;&gt;alternate&lt;/h3&gt;
</code></pre>

      </div>




</section>


<section class="sherpa-section sherpa-clearfix" id="mixins-font-size">

    <div class="sherpa-filepath sherpa-clearfix">
      <a href="https://github.com/modeset/sherpa/blob/master/test/fixtures/sass//mixins/font-size.sass" target="_blank">/mixins/font-size.sass</a>
    </div>

      <div class="sherpa-summary sherpa-clearfix" id="mixins-font-size">
        <h2>Font-size</h2>
<br /><p>Use <code>rems</code> to insert a font size with a pixel fallback.
This showcases how you might create a mixin block.</p>

      </div>

      <div class="sherpa-description sherpa-clearfix">
        <h4>Arguments:</h4>
<br /><ul>
<li><code>$target_px</code>              - The target font size in pixels</li>
<li><code>$context:$context_px</code>    - [<em>Optional</em>] The context constraints of the user&#39;s base font size</li>
</ul>

      </div>




      <div class="sherpa-description sherpa-clearfix">
        <h4>Examples:</h4>
<br /><pre><code>h1
  +font-size(48)
</code></pre>

      </div>

      <div class="sherpa-description sherpa-notes sherpa-clearfix">
        <h4>Notes:</h4>
<br /><ul>
<li><strong>Heads Up!</strong> Make sure not to include the <code>px</code></li>
</ul>

      </div>



</section>


<section class="sherpa-section sherpa-clearfix" id="visibility">

    <div class="sherpa-filepath sherpa-clearfix">
      <a href="https://github.com/modeset/sherpa/blob/master/test/fixtures/sass//visibility.sass" target="_blank">/visibility.sass</a>
    </div>

      <div class="sherpa-summary sherpa-clearfix" id="visibility">
        <h2>Visibility mixins</h2>
<br /><table><thead>
<tr>
<th>Mixin</th>
<th>Params</th>
<th>Usage</th>
</tr>
</thead><tbody>
<tr>
<td><code>+hidden</code></td>
<td>none</td>
<td>Totally hidden from screen readers and browsers</td>
</tr>
<tr>
<td><code>+shown</code></td>
<td>none</td>
<td>Reverse the effects of hidden</td>
</tr>
<tr>
<td><code>+visuallyhidden</code></td>
<td>none</td>
<td>Only visually hidden, still available to screen readers</td>
</tr>
<tr>
<td><code>+visuallyshown</code></td>
<td>none</td>
<td>Reverse the settings applied by <code>.visuallyhidden</code></td>
</tr>
<tr>
<td><code>+invisible</code></td>
<td>none</td>
<td>Hide visually and from screenreaders, but maintain layout</td>
</tr>
</tbody></table>

      </div>









</section>


    </section>

    <footer class="sherpa-footer sherpa-container sherpa-clearfix">
      <p>&raquo; <a href="https://github.com/modeset/sherpa/">Github Repository</a></p>
    </footer>
  </body>
</html>

