
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>sherpa. overview</title>
    <meta name="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/lib/assets/sherpa-reset.css" type="text/css">
    <!-- include the link to your own stylesheet(s) here and remove sherpa-reset -->
    <!-- <link rel="stylesheet" href="/application.css" type="text/css"> -->
    <link rel="stylesheet" href="/lib/assets/sherpa.css" type="text/css">
  </head>

  <body id="overview">
    <aside class="sherpa-sidebar">
      <nav>
        <a class="sherpa-brand" href="/">sherpa.</a>
          <ul class="sherpa-dox-nav sherpa-nav-list">
            <li class="sherpa-nav-header">Documentation</li>
            <li><a href='index.html'>Overview</a></li><li><a href='test.html'>Test</a></li><li><a href='globs.html'>Globs</a></li><li><a href='images.html'>Images</a></li><li><a href='unsupported.html'>Unsupported</a></li><li><a href='marked.html'>Marked</a></li>
          </ul>

        <ul class="sherpa-anchor-nav sherpa-nav-list">
          <li class='sherpa-nav-header'>.</li><li><a href='#readme'>Readme</a></li>
        </ul>
      </nav>
    </aside>

    <section class="sherpa-wrapper sherpa-container sherpa-clearfix">

      <section class="sherpa-section sherpa-clearfix">
        <h1 class="sherpa-page-heading">overview</h1>
      </section>

      
<section class="sherpa-section sherpa-clearfix" id="readme">

    <div class="sherpa-filepath sherpa-clearfix">
      <a href="https://github.com/modeset/sherpa/blob/master/README.md" target="_blank">README.md</a>
    </div>

    <div class="sherpa-description sherpa-clearfix">
      <h1>sherpa</h1>
<br /><p>Documentation generator for various languages.</p>
<br /><p>Work in progress, not ready for prime time just yet.</p>

    </div>


</section>


    </section>

    <footer class="sherpa-footer sherpa-container sherpa-clearfix">
      <p>&raquo; <a href="https://github.com/modeset/sherpa/">Github Repository</a></p>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/lib/assets/sherpa.js"></script>
  </body>
</html>

