
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>sherpa. unsupported</title>
    <meta name="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../lib/assets/sherpa-reset.css" type="text/css">
    <link rel="stylesheet" href="../../lib/assets/sherpa.css" type="text/css">
  </head>

  <body id="unsupported">
    <aside class="sherpa-sidebar">
      <nav>
        <a class="sherpa-brand" href="/">sherpa.</a>
          <ul class="sherpa-dox-nav sherpa-nav-list">
            <li class="sherpa-nav-header">Documentation</li>
            <li><a href='/test/views/overview.html'>Overview</a></li><li><a href='/test/views/test.html'>Test</a></li><li><a href='/test/views/globs.html'>Globs</a></li><li><a href='/test/views/images.html'>Images</a></li><li><a href='/test/views/unsupported.html'>Unsupported</a></li>
          </ul>

        <ul class="sherpa-anchor-nav sherpa-nav-list">
          <li class='sherpa-nav-header'>Unsupported</li><li><a href='#unsupported-photoshop'>photoshop.psd</a></li><li><a href='#unsupported-portable'>portable.pdf</a></li><li><a href='#unsupported-shockwave'>shockwave.swf</a></li>
        </ul>
      </nav>
    </aside>

    <section class="sherpa-wrapper sherpa-container sherpa-clearfix">
      
<section class="sherpa-section sherpa-clearfix" id="unsupported-photoshop">

    <div class="sherpa-filepath sherpa-clearfix">
      <a href="https://github.com/modeset/sherpa/blob/master/test/fixtures/unsupported/photoshop.psd" target="_blank">unsupported/photoshop.psd</a>
    </div>

    <div class="sherpa-description sherpa-clearfix">
      <h3><a href="/test/fixtures/unsupported/photoshop.psd%20file">view photoshop.psd</a></h3>

    </div>


</section>


<section class="sherpa-section sherpa-clearfix" id="unsupported-portable">

    <div class="sherpa-filepath sherpa-clearfix">
      <a href="https://github.com/modeset/sherpa/blob/master/test/fixtures/unsupported/portable.pdf" target="_blank">unsupported/portable.pdf</a>
    </div>

    <div class="sherpa-description sherpa-clearfix">
      <h3><a href="/test/fixtures/unsupported/portable.pdf%20file">view portable.pdf</a></h3>

    </div>


</section>


<section class="sherpa-section sherpa-clearfix" id="unsupported-shockwave">

    <div class="sherpa-filepath sherpa-clearfix">
      <a href="https://github.com/modeset/sherpa/blob/master/test/fixtures/unsupported/shockwave.swf" target="_blank">unsupported/shockwave.swf</a>
    </div>

    <div class="sherpa-description sherpa-clearfix">
      <h3><a href="/test/fixtures/unsupported/shockwave.swf%20file">view shockwave.swf</a></h3>

    </div>


</section>


    </section>

    <footer class="sherpa-footer sherpa-container sherpa-clearfix">
      <p>&raquo; <a href="https://github.com/modeset/sherpa/">Github Repository</a></p>
    </footer>
  </body>
</html>

