
//~ The first `line` starts with equals and is the summary.
//
// The next line (and subsequent lines) are used as a description,
// these can span many lines including empty lines.
//
// Description continued after an empty line (requires a comment delimeter before).
//
// - :hover   The hover state.
// - .small   A smaller button.
//
// Examples:
//    <button class="btn primary">Button</button>
//    <button class="btn small">Button</button>
//
//    <button class="btn danger">Button</button>

// This comment is ignored
button
  color: blue
  font-size: 5em
  &:hover
    color: green
  &.small
    font-size: 3em


//~ This is the start of another block.
//
// Examples:
//    <h2>Heading 2</h2>
h2
  background-color: blue
  font-size: 3em

//= Table test
//
// Table Header 1|Table Header 2
// --------------|--------------
// Content       |Content
// Content       |Content


//~ ## Container
// Mixin            |Params|Usage
// -----------------|------|----------------------------------------------
// `+hidden`        |none  |Totally hidden from screen readers and browsers
// `+shown`         |none  |Reverse the effects of hidden
// `+visuallyhidden`|none  |Only visually hidden, still available to screen readers
// `+visuallyshown` |none  |Reverse the settings applied by `.visuallyhidden`
// `+invisible`     |none  |Hide visually and from screenreaders, but maintain layout

.container
  +box-sizing(border-box)
  +clearfixer
  max-width: $base_width * 1px
  margin-left: auto
  margin-right: auto
  &.outer
    padding-left: 1%
    padding-right: 1%
  &.fluid, &.fixed
    max-width: none
  &.fixed
    width: $base_width * 1px

